<div class="form-container">  
  <h2>Add New Image</h2>
  <form class="new-post" 
        ng-submit="newPost.submit()">
    <input ng-model="newPost.postData.title"
           placeholder="Image Title" />
    <br>
    <input ng-model="newPost.postData.url"
           placeholder="URL" />
    <br>
    <input ng-model="newPost.postData.description"
           placeholder="Description" />
    <br>
    <select ng-model="newPost.postData.album"
            ng-options="album._id as album.title for album in newPost.albums track by album._id"
            ng-hide="newPost.newAlbumMode === true">
      <option value="">--Select an Album--</option>
    </select>
    <input ng-model="newPost.postData.newAlbum"
           placeholder="Name of New Album"
           class="new-album-input"
           ng-show="newPost.newAlbumMode === true" />
    <p ng-click="newPost.newAlbumMode = true;
                 newPost.postData.album = null;"
       ng-show="newPost.newAlbumMode === false">
      Or Add New Album
    </p>
    <p ng-click="newPost.newAlbumMode = false;
                 newPost.postData.newAlbum = null;"
       ng-show="newPost.newAlbumMode === true">
      Or Choose Existing Album
    </p>
    <input type="submit" value="Add Image"/>
  </form>
</div>
