<div>
  <h2>Source</h2>
  <input type="text" ng-model="picker.pic.url" size="100"></input>
  <button ng-click="picker.go()">Submit</button>
</div><br>

<div ng-init="bunny={display: 'desc'}">
  <p>
    <input type="radio"
    name="display"
    ng-model="picker.display"
    value="desc">Description
    <input type="radio"
    name="display"
    ng-model="picker.display"
    value="thumb">Thumbnail
    <input type="radio"
    name="display"
    ng-model="picker.display"
    value="full">Full Size
  </p>
</div>

<description ng-show="picker.display === 'desc'" description=picker.pic.description title="picker.pic.title" url="picker.pic.url"></description>
<thumb ng-show="picker.display === 'thumb'" pic="picker.pic.thumbpic"></thumb>
<full ng-show="picker.display === 'full'" title="picker.pic.title" description="picker.pic.description" url="picker.pic.url"></full>
