@import 'colors';

:local(.cell){

}

:local(.thumb){
  img {
    padding: 1em;
    max-width: 100px;
    max-height: 80px;

    &:hover {
      cursor: pointer;
    }
  }
}

:local(.desc){
  display: block;

  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 1em;

  a {
    font-size: 80%;
    color: hsla($text-accent-hue, 100%, $text-primary-lightness, .5);
    margin-top: 0em;
    margin-bottom: .25em
  }

  h3 {

    &:hover{
      cursor: pointer;
    }
  }

  h4 {
    margin-top: 0em;
    margin-bottom: .25em;
    color: hsla($text-accent-hue, 100%, $text-primary-lightness, 1);
  }

  button {
    display: inline;
    margin-left: 1em; 
  }

}

:local(.full){
  display: block;

  img {
    width: 100%;
  }
}
