<div class="row">
  <div class="twelve columns">
    <div ng-class="$ctrl.styles.branding">
      <h1>Cute Bunny Album</h1>
    </div>
    <nav ng-class="$ctrl.styles.nav">
      <ul>
        <li ng-repeat="section in $ctrl.sections">
          <a href="#{{ section.name }}" ng-click="$ctrl.toggleNav($event, section.name)" title="{{ section.text }}">
            <i class="fa fa-{{ section.fa }} fa-lg" aria-hidden="true"></i>
            <span class="sr-only">{{ section.text }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
