:local(.branding) {
  text-align: center;

  @media (min-width: 544px) {
    float: left;
  }

  h1 {
    margin: 10px 0;
  }
}

:local(.nav) {
  text-align: center;

  @media (min-width: 544px) {
    float: right;
    text-align: left;
  }

  ul {
    padding-left: 0;
    margin-bottom: 10px;

    @media (min-width: 544px) {
      margin-top: 22px;
    }

    > li {
      display: inline-block;
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
