<form>
  <label>
    <input type="radio" value="text" ng-model="toggler.toggle"/>
    Text Only
  </label>
  <label>
    <input type="radio"  value="thumb" ng-model="toggler.toggle"/>
    Thumbnail
  </label>
  <label>
    <input type="radio" value="full" ng-model="toggler.toggle"/>
    Full Post
  </label>
</form>

<text post-title="toggler.image.title"
      source="toggler.image.url"
      description="toggler.image.description"
      ng-show="toggler.toggle === 'text'">
</text>
<thumb source="toggler.image.url"
       ng-show="toggler.toggle === 'thumb'">
</thumb>

<hr>

<full post-title="toggler.image.title"
      source="toggler.image.url"
      description="toggler.image.description"
      ng-show="toggler.toggle === 'full'">
</full>