<form>
  <label>
    <input type="radio" value="text" ng-model="toggler.toggle"/>
    Text Only
  </label>
  <label>
    <input type="radio"  value="thumb" ng-model="toggler.toggle"/>
    Thumbnail
  </label>
  <label>
    <input type="radio" value="full" ng-model="toggler.toggle"/>
    Full Post
  </label>
</form>

<ul>
  <li ng-repeat="image in toggler.images"
      ng-class="toggler.toggle">
    <text post-title="image.title"
          source="image.url"
          description="image.description"
          ng-show="toggler.toggle === 'text'">
    </text>

    <thumb source="image.url"
           post-title="image.title"
           ng-show="toggler.toggle === 'thumb'">
    </thumb>

    <hr ng-show="toggler.toggle === 'text'">

    <full post-title="image.title"
          source="image.url"
          description="image.description"
          ng-show="toggler.toggle === 'full'">
    </full>
  </li>
</ul>