<section class="credentials">
  <p>Login</p>

  <p class="error">{{$ctrl.error}}</p>

  <form ng-submit="$ctrl.tryLogin()">
    <input ng-model="$ctrl.loginForm.username"
          placeholder="Username" />
    <br>
    <input ng-model="$ctrl.loginForm.password"
          placeholder="Password" />
    <br>
    <input type="submit" value="Submit" />
  </form>
</section>

<section class="credentials">
  <p>Register</p>

  <form ng-submit="$ctrl.tryRegister()">
    <input ng-model="$ctrl.registerForm.username"
          placeholder="Username" />
    <br>
    <input ng-model="$ctrl.registerForm.password"
          placeholder="Password" />
    <br>
    <input type="submit" value="Submit" />
  </form>
</section>