<ul class="viewer">
  <li ng-repeat="image in viewer.images"
      ng-class="viewer.viewOption">
    <display-text post-title="image.title"
          source="image.url"
          description="image.description"
          ng-if="viewer.viewOption == 'text'">

      <button ng-click="viewer.remove({imageId: image._id})">Delete</button>  
    </display-text>

    <display-thumb source="image.url"
           post-title="image.title"
           ng-if="viewer.viewOption == 'thumb'">

      <button ng-click="viewer.remove({imageId: image._id})">X</button>
    </display-thumb>

    <display-full post-title="image.title"
          source="image.url"
          description="image.description"
          album="image.album.title"
          ng-if="viewer.viewOption == 'full'">

      <button ng-click="viewer.remove({imageId: image._id})">Delete</button>
    </display-full>
  </li>
</ul>