<div class="row">
  <div class="twelve columns">
    <section>
      <h2>Albums</h2>
      <p ng-if="$ctrl.albums.length < 1">No albums, add one.</p>
      <div class="row" ng-repeat="album in $ctrl.albums">
        <div class="twelve columns">
          <div>
            <h3><a ui-sref="album-detail({albumId: album._id})">{{ album.title }}</a></h3>
            <p>{{ album.description }}</p>
            <button type="button" ng-click="$ctrl.deleteAlbum(album._id)">Remove</button>
          </div>
        </div>
      </div>
    </section>
    <add-album albums="$ctrl.albums"></add-album>
  </div>
</div>
