<div class="row">
  <div class="twelve columns">
    <section>
      <h2>Albums</h2>
      <p ng-if="$ctrl.albums.length < 1">No albums, add one.</p>
      <div class="row" ng-repeat="album in $ctrl.albums">
        <div class="twelve columns">
          <edit-album ng-if="album.updateAlbum === true" album="album"></edit-album>
          <div ng-if="album.updateAlbum === false">
            <h3><a ui-sref="album-detail({albumId: album._id})">{{ album.title }}</a></h3>
            <button type="button" ng-click="album.updateAlbum = true">Edit</button>
            <button type="button" ng-click="$ctrl.deleteAlbum(album._id)">Remove</button>
          </div>
        </div>
      </div>
    </section>
    <add-album albums="$ctrl.albums"></add-album>
  </div>
</div>
