@import 'colors';

ul.viewer {
  padding: 0 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  height: 76vh;
  margin: 0;
}

li {
  list-style: none;
  
  h3 {
    color: $h-color;
  }

  &.text {
    width: 100%;
  }

  &.full {
    margin-bottom: 50px;
  }
}