@import 'colors';

ul.viewer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: scroll;
  height: 90vh;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  
  h3 {
    color: $h-color;
  }

  &.text {
    width: 80%;
  }

  &.full {
    margin: 10px 50px;
  }
}