<ul class="viewer">
  <li ng-repeat="image in viewer.images"
      ng-class="viewer.viewOption">
    <display-text post-title="image.title"
          source="image.url"
          description="image.description"
          ng-if="viewer.viewOption == 'text'">

      <button ng-click="viewer.app.removeImage(image._id)">X</button>
        
    </display-text>

    <display-thumb source="image.url"
           post-title="image.title"
           ng-if="viewer.viewOption == 'thumb'">
    </display-thumb>

    <hr ng-if="viewer.viewOption == 'text'">

    <display-full post-title="image.title"
          source="image.url"
          description="image.description"
          ng-if="viewer.viewOption == 'full'">
    </display-full>
  </li>
</ul>