<div class={{$ctrl.styles.album}}>

  <display-picker></display-picker>

  <h2>Album title: {{$ctrl.animalname}}</h2>

  <select
    ng-model="critter"
    ng-options="animal._id as animal.name for animal in $ctrl.arrayOfAnimals">
  </select>

  <add-pic add="$ctrl.addpic(newpic)"></add-pic>

  <span ng-repeat="pic in $ctrl.arrayOfPics">
    <cell
      pic="pic"
      select="$ctrl.select(myId)"
      remove="$ctrl.remove(myId)"
      display="$ctrl.display"
      isodd="$odd"></cell>
  </span>
</div>
