:local(.list-item) {
  border-top: 1px solid #ddd;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;

    a {
      font-size: 16px;
      margin-left: 5px;
    }
  }

  p {
    margin: 10px 0;
  }
}

.row:first-child > div > :local(.list-item) {
  border-top: none;
}
