<div ng-class="thumb.style['thumb-container']"
    ng-mouseover="thumb.hoverOn = true"
    ng-mouseleave="thumb.hoverOn = false">  
  <div class="thumb-overlay"
      ng-class="{'thumb-overlay-hover': thumb.hoverOn === true}">
    <ng-transclude></ng-transclude>
    <span class="thumb-overlay-text"
          ng-class="{'thumb-overlay-text-hover': thumb.hoverOn === true}">    
          {{thumb.postTitle}}</span>
  </div>
  <img ng-class="thumb.style.thumbnail" 
      ng-src={{thumb.source}}  />
</div>
