@import 'colors';

.toggler-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: 15px auto;
  white-space: nowrap;
}

.toggler-form {
  margin-bottom: 20px;

  label {
    padding: 6px 15px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 0.85em;
  }
  label:hover {
    background: #efefef;
  }
  label input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  label.selected {
    background: $accent-color;
    color: #fff;
    border: 1px solid $accent-color;
  }
}

.toggler-select {
    text-align: center;
    display: block;
    margin: -5px 0;
    width: 280px;
    height: 36px;
    font-size: 0.85em;
    border: 1px solid #ddd;
    color: #626262;
    
}

