@import 'colors';

.toggler-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.toggler-form {
  margin-bottom: 20px;

  label {
    padding: 6px 15px;
    border: 1px solid #ddd;
    background: #fff;
  }
  label input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  label.selected {
    background: $accent-color;
    color: #fff;
    border: 1px solid $accent-color;
  }
}

.toggler-select {
    text-align: center;
    display: block;
    margin: -7px 0;
    width: 360px;
    height: 38px;
    font-size: 18px;
    border: 1px solid #ddd;
    color: #626262;
    
}

