<form class="toggler-form">
  <label ng-class="{selected: toggler.toggle === 'text'}">
    <input type="radio" value="text" ng-model="toggler.toggle"/>
    Text Only
  </label>
  <label ng-class="{selected: toggler.toggle === 'thumb'}">
    <input type="radio"  value="thumb" ng-model="toggler.toggle"/>
    Thumbnail
  </label>
  <label ng-class="{selected: toggler.toggle === 'full'}">
    <input type="radio" value="full" ng-model="toggler.toggle"/>
    Full Post
  </label>
</form>

<select class="toggler-select"
        ng-model="toggler.albumSelect"
        ng-options="album._id as album.title for album in toggler.albums track by album._id"
        ng-change="toggler.getImages()">
  <option value="">Show All</option>
</select>

<viewer ng-init="toggler.getImages()"
        images="toggler.images"
        view-option="toggler.toggle"
        remove="toggler.removeImage(imageId)">
</viewer>
