<div class="form-container">  
  <h4>Add New Image</h4>
  <form class="new-post" 
        ng-submit="newPost.submit()">
    <input ng-model="newPost.postData.title"
           placeholder="Image Title" />
    <br>
    <input ng-model="newPost.postData.url"
           placeholder="URL" />
    <br>
    <input ng-model="newPost.postData.description"
           placeholder="Description" />
    <br>
    <select ng-model="newPost.postData.album"
            ng-options="album as album.title for album in newPost.albums track by album._id">
      <option value="">--Select an Album--</option>
    </select>
    <input type="submit" value="Add Image"/>
  </form>
</div>
