@import 'colors'; 

.form-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  height: 79vh;

  form {
    input {
      width: 100%;
      border: 1px solid #e9e9e9;
      height: 25px;
      margin: 3px 0 3px 0;
      padding: 2px 0 2px 5px;
      font-size: 1em;
    }
    input[type="submit"] {
      background: #fff;
      color: $accent-color;
      height: 35px;
      width: 50%;
      display: block;
      margin: 10px auto;
      transition: background 300ms ease, color 300ms ease;
    }
    input[type="submit"]:hover {
      background: $accent-color;
      border: none;
      color: #fff;
    }
    select {
      width: 75%;
      height: 35px;
      font-size: 15px;
      padding: 5px;
      border: 1px solid #d8d8d8;
      color: #7a7a7a;
      margin: 25px 0;
    }
  }
}