// $primary-color: #e28a66;
$primary-color: #2d2d2d;
$accent-color: #ff6767; 
$h-color: #626262;
$p-color: #626262;
$a-color: #ababab;

$overlay-bg-color: rgba(0, 0, 0, 0.3);
$overlay-text-color: #fff;

